
# Duo board clock is 32 Mhz.
# Atlys board clock is 100 Mhz.
#
NET CLK      LOC="L15"; 
TIMESPEC TS_Period_1 = PERIOD "CLK" 10 ns HIGH 50%;

NET TXD       LOC="B16" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET RXD       LOC="A16"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET DTR       LOC="T15" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;

NET "fclk" PERIOD = 6 ns HIGH 50%;

# #Dragon Misc
NET DUO_SW1		LOC="A10" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
# NET ARD_RESET 	LOC="P139" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # ARD_RESET
# NET DUO_LED					LOC="P134" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
